<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pigrecoa</name>
	<displayName><![CDATA[Pig Recommendation Engine Position a]]></displayName>
	<version><![CDATA[0.2]]></version>
	<description><![CDATA[Pig Recommendations - CrossSelling - UpSelling]]></description>
	<author><![CDATA[Nicolas Bahout]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>